@import url('https://rsms.me/inter/inter-ui.css');
body {
	font-family: 'Inter UI', sans-serif;
}


/* My custom CSS */

.navbar-custom .nav li a {
	text-transform: none;
	font-weight: 300;
	/* font-size: 1.3rem; */
}

.navbar-custom .navbar-brand {
	font-weight: 700;
}

.intro-header {
	margin-bottom: 0;
}

.post-heading {
	text-align: center;
}

.center-all-div {
	margin: 0 auto;
	text-align: center;
}

.blue-highlight {
	background-color: #2980b9;
    margin: 80px 0 20px 0;
    padding: 20px;
    color: #fff;
}

.btn {
	text-transform: none;
	font-weight: normal;
	border-radius: 12px;
}



/* removing Lora font */

.serif,
body,
.intro-header .post-heading .meta {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}



/* media queries */

@media only screen and (min-width: 768px) {
	.navbar {
	background-color: rgba(51, 51, 51, .45);
	}
}

@media only screen and (max-width: 768px) {
	.navbar-custom .nav li a {
		font-weight: 500;
	}
}
